stages:
  - lint
  - test
  - build
  - deploy

variables:
  IMAGE_TAG: $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA

# ---------------- LINT ----------------
precommit:
  stage: lint
  image: ghcr.io/astral-sh/uv:python3.13-bookworm
  script:
    - uv sync --locked
    - uv run pre-commit run --all-files

# ---------------- TEST ----------------
pytest:
  stage: test
  image: ghcr.io/astral-sh/uv:python3.13-bookworm
  services:
    - postgres:15
  variables:
    DATABASE_URL: pgsql://django:django@postgres/test_db
  script:
    - uv sync --locked
    - uv run pytest

# ---------------- BUILD ----------------
build:
  stage: build
  image: docker:24
  services:
    - docker:24-dind
  variables:
    DOCKER_TLS_CERTDIR: ""
  script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
    - docker build -t $IMAGE_TAG .
    - docker push $IMAGE_TAG

# ---------------- DEPLOY ----------------
deploy:
  stage: deploy
  image: alpine:latest
  only:
    - main
  before_script:
    - apk add --no-cache openssh
  script:
    - echo "$SSH_PRIVATE_KEY" > id_rsa
    - chmod 600 id_rsa
    - ssh -o StrictHostKeyChecking=no -i id_rsa $VM_USER@$VM_HOST "
        docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY &&
        docker pull $IMAGE_TAG &&
        docker stop app-django-1 || true &&
        docker rm app-django-1 || true &&
        docker run -d \
          --name app-django-1 \
          --env-file /home/$VM_USER/app/.env \
          -p 80:8000 \
          $IMAGE_TAG
      "
