stages:
  - lint
  - test
  - build
  - deploy

variables:
  IMAGE_TAG: $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA
  POSTGRES_USER: 'django_educational_demo_application'
  POSTGRES_PASSWORD: ''
  POSTGRES_DB: 'test_django_educational_demo_application'
  POSTGRES_HOST_AUTH_METHOD: trust

# ---------------- LINT ----------------
linter_check_ruff:
  tags:
    - docker
  stage: lint
  image: ghcr.io/astral-sh/uv:python3.13-bookworm
  variables:
    PRE_COMMIT_HOME: ${CI_PROJECT_DIR}/.cache/pre-commit
  cache:
    paths:
      - ${PRE_COMMIT_HOME}
  before_script:
    - sudo apt-get update && sudo apt-get install -y build-essential libpq-dev
    - curl -LsSf https://astral.sh/uv/install.sh | sh
    - export PATH="$HOME/.local/bin:$PATH"
    - uv --version
    - uv venv
    - uv pip install -q pre-commit pre-commit-uv
  script:
    - uv sync --locked
    - uv run pre-commit run --show-diff-on-failure --color=always --all-files

# ---------------- TEST ----------------
test_with_pytest:
  tags:
    - docker
  stage: test
  image: ghcr.io/astral-sh/uv:python3.13-bookworm
  services:
    - postgres:15
  variables:
    DATABASE_URL: pgsql://$POSTGRES_USER:$POSTGRES_PASSWORD@postgres/$POSTGRES_DB
  before_script:
    - apt-get update && apt-get install -y build-essential libpq-dev
    - uv sync --locked
  script:
    - uv run pytest

# ---------------- BUILD ----------------
build_with_kaniko:
  tags:
    - docker
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  variables:
    DOCKER_CONFIG: /kaniko/.docker/
  script:
    - mkdir -p /kaniko/.docker
    - |
      cat > /kaniko/.docker/config.json <<EOF
      {
        "auths": {
          "$CI_REGISTRY": {
            "username": "$CI_REGISTRY_USER",
            "password": "$CI_REGISTRY_PASSWORD"
          }
        }
      }
      EOF
    - >
      /kaniko/executor
      --context "$CI_PROJECT_DIR"
      --dockerfile "$CI_PROJECT_DIR/Dockerfile"
      --destination "$IMAGE_TAG"
      --destination "$CI_REGISTRY_IMAGE:latest"
      --cache=true


# ---------------- DEPLOY ----------------
deploy_with_compose:
  tags:
    - docker
  stage: deploy
  needs:
    - build_with_kaniko
  image: alpine:latest
  only:
    - main
  variables:
    APP_CONTAINER_NAME: diploma-demo
    DEPLOY_PATH: /home/$VM_USER/app
  before_script:
    - apk add --no-cache openssh docker-cli docker-cli-compose curl
  script:
    - echo "$SSH_PRIVATE_KEY" > id_rsa
    - chmod 600 id_rsa

    - |
      ssh -o StrictHostKeyChecking=no -i id_rsa $VM_USER@$VM_HOST '
        set -Eeuo pipefail

        DEPLOY_PATH="/home/'"$VM_USER"'/app"
        APP_CONTAINER_NAME="'"$APP_CONTAINER_NAME"'"
        IMAGE_TAG="'"$IMAGE_TAG"'"

        mkdir -p "$DEPLOY_PATH"
        cd "$DEPLOY_PATH"

        echo "'"$CI_REGISTRY_PASSWORD"'" | docker login "'"$CI_REGISTRY"'" \
          -u "'"$CI_REGISTRY_USER"'" --password-stdin

        if docker ps -a --format "{{.Names}}" | grep -q "^$APP_CONTAINER_NAME$"; then
          docker inspect "$APP_CONTAINER_NAME" \
            --format "{{.Config.Image}}" > .previous_image || true
        fi

        echo "IMAGE_TAG=$IMAGE_TAG" > .deploy_env
        echo "APP_CONTAINER_NAME=$APP_CONTAINER_NAME" >> .deploy_env

        docker compose -f docker-compose.prod.yml \
          --env-file .deploy_env pull

        docker compose -f docker-compose.prod.yml \
          --env-file .deploy_env up -d --remove-orphans

        echo "Waiting for healthcheck..."
        sleep 20

        HEALTH_STATUS=$(docker inspect \
          --format "{{.State.Health.Status}}" \
          "$APP_CONTAINER_NAME" 2>/dev/null || echo "unknown")

        if [ "$HEALTH_STATUS" != "healthy" ]; then
          echo "Healthcheck failed. Rolling back..."

          if [ -f .previous_image ]; then
            PREV_IMAGE=$(cat .previous_image)

            echo "IMAGE_TAG=$PREV_IMAGE" > .deploy_env
            echo "APP_CONTAINER_NAME=$APP_CONTAINER_NAME" >> .deploy_env

            docker compose -f docker-compose.prod.yml \
              --env-file .deploy_env up -d --remove-orphans

            echo "Rollback completed"
            exit 1
          else
            echo "No previous image found."
            exit 1
          fi
        fi

        echo "Deploy successful"
      '
