stages:
  - lint
  - test
  - build
  - publish
  - terraform
  - deploy
  - health_check
  - rollback

variables:
  IMAGE_TAG: $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA
  LATEST_TAG: $CI_REGISTRY_IMAGE:latest
  POSTGRES_USER: 'django_educational_demo_application'
  POSTGRES_PASSWORD: ''
  POSTGRES_DB: 'test_django_educational_demo_application'
  POSTGRES_HOST_AUTH_METHOD: trust

# Run linters: pre-commit-hooks, django-upgrade, ruff, djLint
linter_check:
  stage: lint
  image: python:3.13-slim
  before_script:
    - apt-get update
    - apt-get install -y git build-essential libpq-dev
    - pip install uv
  script:
    - uv venv
    - uv sync --locked
    - uv run pre-commit run --show-diff-on-failure --color=always --all-files

# Run pytest
test_pytest:
  stage: test
  image: ghcr.io/astral-sh/uv:python3.13-bookworm
  services:
    - postgres:15
  variables:
    DATABASE_URL: pgsql://$POSTGRES_USER:$POSTGRES_PASSWORD@postgres/$POSTGRES_DB
  before_script:
    - apt-get update && apt-get install -y build-essential libpq-dev
    - uv sync --locked
  script:
    - uv run pytest

# Build with kaniko
build_image:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  script:
    - mkdir -p /kaniko/.docker
    - |
      cat > /kaniko/.docker/config.json <<EOF
      {
        "auths": {
          "$CI_REGISTRY": {
            "username": "$CI_REGISTRY_USER",
            "password": "$CI_REGISTRY_PASSWORD"
          }
        }
      }
      EOF
    - >
      /kaniko/executor
      --context "$CI_PROJECT_DIR"
      --dockerfile "$CI_PROJECT_DIR/Dockerfile"
      --destination "$IMAGE_TAG"
      --cache=true

# Publish to GitLab Container Registry
publish_latest:
  stage: publish
  image:
    name: gcr.io/go-containerregistry/crane:debug
    entrypoint: [""]
  needs:
    - build_image
  script:
    - crane auth login $CI_REGISTRY -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD
    - crane tag $IMAGE_TAG latest
  only:
    - main

# Create infra with terraform apply
terraform_apply:
  stage: terraform
  image:
    name: hashicorp/terraform:1.6
    entrypoint: [""]
  before_script:
    - cd infra
  script:
    - terraform init
    - terraform validate
    - terraform plan -out=tfplan
    - terraform apply -auto-approve tfplan
  artifacts:
    paths:
      - infra/terraform.tfstate
  only:
    - main

# Deploy app, database and monitoring via Ansible
ansible_deploy:
  stage: deploy
  image: python:3.12-slim
  needs:
    - terraform_apply
  before_script:
    - pip install ansible
    - cd ansible
  script:
    - ansible-playbook site.yml \
        --extra-vars "image=$IMAGE_TAG \
                      registry_url=$CI_REGISTRY \
                      registry_user=$CI_REGISTRY_USER \
                      registry_password=$CI_REGISTRY_PASSWORD"
  only:
    - main

# Perform health check of deployed app
health_check:
  stage: health_check
  image: curlimages/curl:latest
  needs:
    - ansible_deploy
  script:
    - echo "Running health_check test..."
    - curl -f http://$APP_PUBLIC_IP/health
  only:
    - main

# Rollback to previous stable image from Container Registry
rollback:
  stage: rollback
  image: python:3.12-slim
  when: on_failure
  needs:
    - health_check
  before_script:
    - pip install ansible
    - cd ansible
  script:
    - echo "Rollback to previous image"
    - ansible-playbook site.yml \
        --extra-vars "image=$PREVIOUS_IMAGE \
                      registry_url=$CI_REGISTRY \
                      registry_user=$CI_REGISTRY_USER \
                      registry_password=$CI_REGISTRY_PASSWORD"
  only:
    - main
