stages:
  - lint
  - test
  - deploy

variables:
  POSTGRES_USER: 'django_educational_demo_application'
  POSTGRES_PASSWORD: ''
  POSTGRES_DB: 'test_django_educational_demo_application'
  POSTGRES_HOST_AUTH_METHOD: trust

precommit:
  tags:
    - docker
  stage: lint
  image: ghcr.io/astral-sh/uv:python3.13-bookworm
  variables:
    PRE_COMMIT_HOME: ${CI_PROJECT_DIR}/.cache/pre-commit
  cache:
    paths:
      - ${PRE_COMMIT_HOME}
  before_script:
    - sudo apt-get update && sudo apt-get install -y build-essential libpq-dev
    - curl -LsSf https://astral.sh/uv/install.sh | sh
    - export PATH="$HOME/.local/bin:$PATH"
    - uv --version
    - uv venv
    - uv pip install -q pre-commit pre-commit-uv
  script:
    - uv run pre-commit run --show-diff-on-failure --color=always --all-files

pytest:
  tags:
    - docker
  stage: test
  image: ghcr.io/astral-sh/uv:python3.13-bookworm
  services:
    - postgres:15
  variables:
    DATABASE_URL: pgsql://$POSTGRES_USER:$POSTGRES_PASSWORD@postgres/$POSTGRES_DB
  before_script:
    - sudo apt-get update && sudo apt-get install -y build-essential libpq-dev
    - uv sync --locked
  script:
    - uv run pytest

deploy:
  stage: deploy
  image: alpine:latest
  only:
    - main
  before_script:
    - apk add --no-cache openssh
  script:
    - echo "$SSH_PRIVATE_KEY" > id_rsa
    - chmod 600 id_rsa
    - ssh -o StrictHostKeyChecking=no -i id_rsa $VM_USER@$VM_HOST "
        cd ~ &&
        if [ ! -d app ]; then
          git clone $CI_REPOSITORY_URL app;
        fi &&
        cd app &&
        git pull &&
        docker compose -f docker-compose.prod.yml up -d --build
      "
