- name: Install Docker
  apt:
    name:
      - docker.io
      - docker-compose-plugin
    update_cache: yes

- name: Enable Docker
  service:
    name: docker
    state: started
    enabled: yes

- name: Login to registry
  community.docker.docker_login:
    registry_url: "{{ registry_url }}"
    username: "{{ registry_user }}"
    password: "{{ registry_password }}"

