- hosts: all
  become: true
  roles:
    - common

- hosts: db
  become: true
  roles:
    - db

- hosts: app
  become: true
  roles:
    - app

- hosts: monitoring
  become: true
  roles:
    - monitoring
