- hosts: all
  become: true
  gather_facts: false
  pre_tasks:
    - name: Wait for SSH to become available
      ansible.builtin.wait_for_connection:
        timeout: 300
        delay: 5
    - name: Gather facts
      ansible.builtin.setup:
  roles:
    - common

- hosts: db
  become: true
  roles:
    - db

- hosts: app
  become: true
  roles:
    - app

- hosts: monitoring
  become: true
  roles:
    - monitoring
